<section class="py-5 text-center container">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">Crear Pokemones</h1>
			<p class="lead text-muted">Una aplicacion hecha para crear pokemones.</p>
			<p>
				<a href="/managePokemon/create-pokemon" class="btn btn-secondary my-2">Crear nuevo Pokemon</a>
			</p>
		</div>
	</div>
</section>


{{#if hasPokemo}}
<div class="album ">
	<div class="container">
		<div class="row">
			<div class="row">

				{{#each poke as |pok|}}
				<div class="col-md-4 mt-5">
					<div class="card bg-success text-light">

						<div class="card-body">

							<h4 class="card-title">{{pok.name}}</h4>
							<img src="{{pok.image}}" class="card-img-top" alt="{{pok.name}}">
							<h5 class="card-title">Tipo: {{pok.Tipo.dataValues.name}}</h5>
							<h5 class="card-title">Region: {{pok.Regione.dataValues.name}}</h5>
						</div>

						<hr>
						<form class="form-inline" id="form-delete" action="/managePokemon/delete-pokemon" method="post">
							<a href="/managePokemon/edit-pokemon/{{pok.id}}?edit=true"
								class="btn btn-primary p-3 m-3">Editar</a>
							<input type="hidden" name="pokemonId" value="{{pok.id}}" />
							<button type="submit"
								class="btn btn-outline-warning p-3 m-3 delete-pokemon">Eliminar</button>
						</form>



					</div>

				</div>
				{{/each}}

			</div>
		</div>
	</div>
	{{else}}
		<h1>No hay pokemones</h1>
	{{/if}}
</div>